# OS:-
.DS_Store

# Editors:-
.idea
.vscode

.netrc

# Go specific:-
*.out
gqlgenerated.go
connector/internal/handler/gql/**/*_gen.go
connector/binaries
connector/**/mock_*.go

# Java specific:-
connector/build/*
connector/.gradle
connector/bin/
node_modules/
dist/
temp/

# Web
web/node_modules
web/build/
# dependencies
web/.pnp
.pnp.js

# testing
web/coverage

# build artefacts
web/static
web/reports

# production
web/build*

# misc
web/.DS_Store
web/.env

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
connector/.gradle
connector/target
